---
export interface Props {
  title: string;
  icon: { fields: { file: { url: string } } };
}

const { title, icon } = Astro.props;
console.log(icon);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={icon.fields.file.url} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: Monument Extended;
    src: url(fonts/MonumentExtended/MonumentExtended-Regular.otf);
  }
  @font-face {
    font-family: Ogg;
    src: url(fonts/Ogg/Ogg-Roman.otf);
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
  }

  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
  }

  body {
    background-color: #f2f2f2;
    color: #326355;
    font-family: "Ogg";
    height: 100%;
    overflow-x: hidden;
    width: 100%;
  }
</style>
